<footer>
	<div class="container">
		<a href="https://tomstafford.github.io/choice-engine-text/" style="background-color: white; color: red;">Choice Engine</a> is a project by <a href="http://tomstafford.staff.shef.ac.uk/" style="background-color: white; color: orange;">Tom Stafford</a> as part of the <a href="http://festivalofthemind.group.shef.ac.uk/" style="background-color: white; color: pink;">Festival of the Mind</a>. Code by <a href="https://www.shedcode.co.uk/" style="background-color: white; color: green;">James Jefferies</a>, design by <a href="http://www.joncannon.co.uk/" style="background-color: white; color: gold;">Jon Cannon</a>
	</div>
</footer>
