---
---

@import "{{ site.theme }}";
body {
  background:
     white;                     /* color */
  color: black;
  line-height: 1.15;
  font-weight: normal;
  font-stretch: normal;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
}

