---
---

@import "{{ site.theme }}";
body {
  background:
     white;                     /* color */
  color: black;
  line-height: 1.15;
  font-weight: normal;
  font-stretch: normal;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}


h1 {
  color: black;
  line-height: 1.15;
  font-weight: normal;
  font-stretch: normal;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  color: black;
  line-height: 1.15;
  font-weight: normal;
  font-stretch: normal;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

a {
   text-decoration: none;
   color: blue;
}


footer {
    display: block;
    padding: 10em 0 0 0;
}

header {
	background:white;
	border-bottom: none;
}
